.footer {
	margin-top: 10%;
	display: block;
	background-color: #707070;
}

.footer i {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 35px;
	margin-left: 35px;
	background-color: transparent;
	color: white;
}

