words {
	height: 100%;
	margin-bottom: 10%;
	font-family: Comic Sans MS;
}

words h1 {
	text-align: center;
	font-weight: bold;
	font-size: 3.5em;
	margin-bottom: 5%;
}

words .col-md-3 {
	text-align: right;
	font-size: 1.2em;
}

words .row {
	margin-top: 35px;
}

words input {
	height: 35px;
}

words label {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;
}


